.game_over { 
    width:854px;
    height:85px;
    top:29%;
    left:12%;
    background-color:black;
    border-style:solid;
    border-color:white;
    border-left-color:blue;
    border-right-color:blue;
    display:none;
    justify-content:center;
    align-content:center;
    position:absolute;
}

h1 {
    left:40%;
    bottom:15%;
    color:white;
    position:absolute;
}

h2 {
    top:60%;
    left:42%;
    font-size:10px;
    color:white;
    position:absolute;
}